body {
    margin: 0px;
    background-color: rgb(117, 111, 111);
    width: 100vw;
}

header {
    background-color: white;
    width: 100%;
    height: 8.5%;
    display: flex;
    box-shadow: 0px 9px 8px 3px rgba(0, 0, 0, 0.15);
    position: fixed;
    top: 0;
}

main {
    overflow-y: auto;
    width: 100%;
    margin-top: 8.5%;
    height: 100%;
}

#welcome{
    display: flex;
    max-width: 100%;
    max-height: 91.5%;
    padding: 0 2%;
}

#welcome-img-container{
    width: 50%;
    overflow: hidden;
    border-radius: 12px;
}

#welcome-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#first-description-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    overflow: hidden;
    border-radius: 12px;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}

.logo-container {
    width: 60%;
    height: 100%;
}

.logo {
    max-width: 100%;
    max-height: 100%;
}

.info-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;
}

.info-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    height: 100%;
}

#gallery-btn {
    background-color: transparent;
    border: 0 solid transparent;
    color: black;
}

#gallery {
    color: black;
}

#email-btn {
    background-color: transparent;
    border: 0 solid transparent;
    color: black;
}

#email {
    color: black;
}

/* body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
  }
  
  .section {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #intro {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    z-index: 10;
  }
  
  .image {
    width: 50%;
    height: 100%;
    background-image: url('./Immagini\ sito/Campagna_1.jpeg');
    background-size: cover;
    background-position: center;
    transition: width 0.5s;
  }
  
  .description {
    width: 50%;
    padding: 20px;
  }
  
  #content {
    width: 100vw;
    height: 200vh;
    background-color: #ffffff;
    opacity: 0;
    transition: opacity 1s;
  }
  
  #content.visible {
    opacity: 1;
  }
   */